<%
    suits = ["clubs","diamonds","hearts","spades"]
    ranks = [1,2,3,4,5,6,7,8,9,10,"ace","jack","queen","king"]

    deck = []
    for rank in ranks
        for suit in suits
            deck << "#{rank}_of_#{suit}"
        end
    end

    suffled_deck = deck.shuffle
    hand = suffled_deck[0,5]
%>

<h1>Welcome to our casino!</h1>

<% for card in hand %>
    <img src="/images/cards/<%=card%>.svg">
<% end %>
